$nav-content-max-width: 980px;
$nav-height: 92px;
$home-content-max-width: 818px;
$footer-height: 100px;

$promo-box-width: 236px;
$promo-box-height: 304px;

$button-color: #79addc;
$contact-form-color: #f5f5f5;

$white-text-color: #ffffff;
$black-text-color: #000000;
$sale-text-color: #ff7d38;
